<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<context:component-scan base-package="com/test06"></context:component-scan>
	<!-- aspect의 프록시를 자동 생성하고 , component를 인식하기위해 태그를 생성 -->
	<!-- 어노테이션 태그를 사용하여도 xml 입장에서는 bean태그를 이용하여 생성하나 어노테이션을 사용하나 똑같은 bean 객체이다 -->
</beans>
